<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta name="description" content="{{ page_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#FFB8D2">

        <meta property="og:title" content="{{ page_title }}">
        <meta property="og:description" content="{{ page_description }}">
        <meta property="og:url" content="{{ page_url }}">

        <meta property="og:image" content="{{ page_image:url }}">
        <meta property="og:image:width" content="{{ page_width }}"/>
        <meta property="og:image:height" content="{{ page_height }}"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <title>{{ title ?? site:name }}</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=DynaPuff:wght@400;500;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Saira+Stencil+One&display=swap" rel="stylesheet">

        <!-- Styles and Scripts -->
        {{ vite src="resources/js/site.js|resources/scss/site.scss" }}
    </head>
    <body>
        <header class="container mx-auto my-8 p-6">
            <img class="logo" src="/img/crmh-logo.svg" alt="Capital Region Menstrual Health Logo">
            <nav class="mt-4 md:mt-auto md:ml-auto">
                {{ nav:main }}
                    <a href="{{ url }}" {{ if is_current || is_parent }} class="active"{{ /if }}>{{ title }}</a>
                {{ /nav:main }}
            </nav>
        </header>

        <main>
            {{ template_content }}
        </main>
    </body>
</html>
