<section class="contact my-24">
    <div class="container mx-auto p-6 text-xl">
        <h2 class="text-4xl sm:text-6xl lg:text-7xl">
            <span class="block font-sans uppercase font-bold text-pink-500 text-lg sm:text-2xl">
                Let's Work Together
            </span>
            Reach out to learn more!
        </h2>

        <p class="mt-4">
            Together, we can bring about menstrual health and equity in the Capital Region.
            If you want to get in touch with us to learn more about the work we’re doing, or to learn how
            you can make a difference, you can submit the form below and someone from our team will get
            back to you.
        </p>

        {{ form:contact_form }}

            {{ if success }}
                <div class="bg-green-300 text-white p-2">
                    {{ success }}
                </div>
            {{ else }}
                {{ if errors }}
                    <div class="bg-red-300 text-white p-2">
                        {{ errors }}
                        {{ value }}<br>
                        {{ /errors }}
                    </div>
                {{ /if }}

                {{ fields }}
                <div class="form-row">
                    <label>{{ display }}</label>
                    <div>{{ field }}</div>
                    {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                </div>
                {{ /fields }}

                <input type="text" class="important-field" name="{{ honeypot ?? 'honeypot' }}">

                <button type="submit">Submit</button>
            {{ /if }}

        {{ /form:contact_form }}

    </div>
</section>
