<section class="support my-24 bg-pink-300 py-16">
    <div class="mx-auto container p-6 text-xl z-50">
        <h2 class="mt-4 text-white text-4xl sm:text-6xl lg:text-7xl break-words">
            <span class="block font-sans uppercase font-bold text-pink-50 text-lg sm:text-2xl">
                {{ eyebrow }}
            </span>
            {{ headline }}
        </h2>

        <div class="mt-4 text-white space-y-4">
            {{ copy }}
        </div>

        <div class="ctas mt-12 flex flex-col lg:flex-row">
            <a class="w-full flex justify-center font-black uppercase bg-pink-50 border-2 border-pink-800 shadow-solid-brand p-6 hover:shadow-pressed-brand hover:translate-x-2 hover:translate-y-2 transition-all duration-200 ease-in-out" href="#" data-remodal-target="donate">
                <svg class="my-auto mr-2" width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                       stroke-linecap="round" stroke-linejoin="round">
                        <g id="MacBook-Pro-14&quot;" transform="translate(-253.000000, -3498.000000)" stroke="#A30664"
                           stroke-width="1.5">
                            <g id="Group-8" transform="translate(199.000000, 3476.000000)">
                                <g id="Group" transform="translate(55.644491, 23.000000)">
                                    <path
                                        d="M9.44906445,2.99999981 L9.44906445,14.9999998 M6.2993763,12.1819998 L7.22223493,12.8409998 C8.4516632,13.7199998 10.4454158,13.7199998 11.675894,12.8409998 C12.9063721,11.9619998 12.9063721,10.5379998 11.675894,9.65899981 C11.0617048,9.21899981 10.2553846,8.99999981 9.44906445,8.99999981 C8.68788981,8.99999981 7.92671518,8.77999981 7.34612266,8.34099981 C6.18493763,7.46199981 6.18493763,6.03799981 7.34612266,5.15899981 C8.50730769,4.27999981 10.3908212,4.27999981 11.5520062,5.15899981 L11.9877131,5.48899981 M18.8981289,9 C18.8981289,12.2153902 17.0971474,15.1865334 14.1735967,16.7942286 C11.250046,18.4019237 7.64808292,18.4019237 4.72453218,16.7942286 C1.80098145,15.1865334 4.66247507e-16,12.2153902 4.66247507e-16,9 C4.66247507e-16,4.02943714 4.23049033,0 9.44906445,0 C14.6676386,0 18.8981289,4.02943714 18.8981289,9 L18.8981289,9 Z"
                                        id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                Make a monetary donation
            </a>
            <span class="font-drawn text-white text-center my-8 lg:my-auto mx-12 text-2xl">OR...</span>
            <a class="w-full flex justify-center font-black uppercase bg-pink-50 border-2 border-pink-800 shadow-solid-brand p-6 hover:shadow-pressed-brand hover:translate-x-2 hover:translate-y-2 transition-all duration-200 ease-in-out">
                <svg class="my-auto mr-2" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                       stroke-linecap="round" stroke-linejoin="round">
                        <g id="MacBook-Pro-14&quot;" transform="translate(-939.000000, -3500.000000)" stroke="#A30664"
                           stroke-width="1.5">
                            <g id="Group-7" transform="translate(864.000000, 3476.000000)">
                                <g id="Group" transform="translate(76.642412, 25.000000)">
                                    <path
                                        d="M18.8981289,4.5 C18.8981289,2.015 16.6943971,0 13.9762162,0 C11.9446674,0 10.1997401,1.126 9.44906445,2.733 C8.69838877,1.126 6.95346154,0 4.92086279,0 C2.2047817,0 0,2.015 0,4.5 C0,11.72 9.44906445,16.5 9.44906445,16.5 C9.44906445,16.5 18.8981289,11.72 18.8981289,4.5 Z"
                                        id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                Donate Period Products
            </a>
        </div>
    </div>
</section>
