<section class="hero">
    <div class="mx-auto h-screen container p-6">
        <div class="text-xl max-w-3xl z-50">
            <h1 class="text-4xl sm:text-6xl lg:text-7xl mb-4">
                <span class="block font-sans uppercase font-bold text-pink-500 text-lg sm:text-2xl">{{ eyebrow }}</span>
                {{ headline }}
            </h1>

            {{ copy }}

            <a class="inline-flex gap-x-4 justify-center font-black items-center text-pink-800 uppercase text-xl py-4 px-8 shadow-solid-brand bg-pink-50 border-2 border-pink-800 mt-8 transform hover:shadow-pressed-brand hover:translate-x-2 hover:translate-y-2 transition-all duration-200 ease-in-out" href="{{ hero_link_field }}">
                {{ hero_icon }}
                {{ hero_copy }}
            </a>
        </div>
    </div>
</section>
