header {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }

    nav {
        @apply m-auto justify-center;

        a {
            @apply text-pink-500 font-bold inline-block z-10 cursor-pointer no-underline p-6;

            &.active {
                @apply relative z-50 text-pink-800;

                &:after {
                    @apply text-pink-900 absolute top-0 left-0 bg-no-repeat bg-center bg-contain h-full w-full z-0;

                    content: "";
                    background-image: url("../../public/img/circle-2-bubbly.svg");
                }
            }
        }

        @screen md {
            @apply mr-0;
        }
    }

    .logo {
        max-width: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 748px) {
            margin-left: unset;
        }
    }
}
